body {
    background-color: #0C6980;
    font-family: 'red rose'
}

.header {
    padding: auto 0;
    margin: 1%;
    border: 3px solid black;
    background-color: #B9DDFF;
    border-radius: 10px;
    font-size: 64px;
    text-align: center;
}

.current {
    padding: auto 0;
    margin: 1%;
    border: 3px solid black;
    background-color: #B9DDFF;
    border-radius: 10px;
}

.currentIcon {
    float: left;
    margin: auto;
    margin-left: 30px;
    width: 30%;
    height: auto;
}

.currentTemp {
    float: left;
    font-size: 50px;
    text-align: center;
    margin-left: 100px;
}

.currentState {
    font-size: 30px;
    margin:auto;
    margin-top: 0px;
    margin-left: 50px;
}

.currentFeel {
    float:inline-start;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
}

.currentTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

td {
    width: 100%;
    border: 3px solid black;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

li {
    margin: 50px;
    font-size: 20px;
}

.weeklyTime {
    text-align: center;
    font-size: 20px;
}

.weeklyIcon {
    margin-left: 50px;
    padding: auto 0;
    width: 40%;
    height: auto;
}

.tableHeader {
    font-size: 18px;
}

.weeklyTable{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}